
.hero-section {
    width: 100%;
    height: 100%; /* نفس ارتفاع الصورة الثانية */

    background-size: cover;
    background-position: center;
    position: relative;
}


.overlay {
    width: 100%;
    height: 300%; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-right: 50px; 
}

.hero-text {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
/* styles.css */

.container {
  padding: 20px;
  background-color: #f0f0f0; /* لون خلفية خفيف */
  border-radius: 10px; /* زوايا مستديرة */
  max-width: 800px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* تنسيق الـ Stack كحاوية مرنة */
.stack {
  display: flex;
  flex-direction: column;
  gap: 10px; /* المسافة بين العناصر */
}

/* تنسيق العنصر الفردي */
.item {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* خلفية بيضاء */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

/* عند تحويم الفأرة على العنصر */
.item:hover {
  background-color: #e0e0e0;
}

/* أيقونات */
.item svg {
  font-size: 30px;
  color: #007bff; /* لون الأيقونات */
  margin-left: 15px;
  margin-right: 15px;
}

/* العناوين */
.item h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
  flex: 1;
  text-align: right;
}

/* الفقرات */
.item p {
  margin: 0;
  font-size: 18px;
  color: #555;
  text-align: right; 
}
