/* our programs.css */

.our-programs-container {
  padding: 20px;
  background-color: #f5f5f5; 
}

.our-programs-banner {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.our-programs-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
  text-align: center; 
}

.program-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  border-radius: 8px;
  overflow: hidden;
}

.program-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.program-card-media {
  height: 140px;
  object-fit: cover; 
}

.program-card-title {
  color: #483d8a; 
  font-weight: bold;
}

.program-card-description {
  color: #666;
}

.program-card-button {
  color: #483d8a;
  border-color: #483d8a;
}

.program-card-button:hover {
  background-color: #483d8a;
  color: white;
}


@media (max-width: 600px) {
  .our-programs-container {
    padding: 10px;
  }
  
  .program-card-media {
    height: 120px;
  }
}

